body {
  margin: 0;
}

.nav {
  overflow: hidden;
  position: fixed;
  background-color: #1d2d50;
  top: 0;
  width: 100%;
}

.nav > a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}

.hero {
  width: 100%;
  margin: auto;
  align-items: center;
  height: 30vh;
  display: flex;
  justify-content: center;
  background-color: #1d2d50;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

.category {
  display: flex;
  padding: 2px 90px;
  align-items: center;
}

.title {
  padding-left: 100px;
}

.card_1 {
  border-radius: 10px;
  width: 100%;
  height: 150px;
  padding: 5px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9bjHXhqqpqQ4J78_Za7btnhNVL3ha_dX5ag&usqp=CAU");
  margin: 10px;
}

.card_1 > h1 {
  font-size: large;
  color: white;
  text-align: center;
}

.card_2 {
  border-radius: 10px;
  width: 100%;
  height: 150px;
  padding: 5px;
  background-image: url("https://m.media-amazon.com/images/G/01/seo/siege-lists/best-comedy-audiobooks-social.jpg");
  margin: 10px;
}

.card_2 > h1 {
  font-size: large;
  color: white;
  text-align: center;
}

.card_3 {
  border-radius: 10px;
  width: 100%;
  height: 150px;
  padding: 5px;
  background-image: url("https://cdn.popbela.com/content-images/post/20210106/akurat-20201016110422-ba0067-5df93e1f9067b26292d7ac8e3d45d718_750x500.jpg");
  margin: 10px;
}

.card_3 > h1 {
  font-size: large;
  color: white;
  text-align: center;
}

.card_4 {
  border-radius: 10px;
  width: 100%;
  height: 150px;
  padding: 5px;
  background-image: url("https://www.fundacionmapfre.org/media/premios-ayudas/premios/premios-fundacion-mapfre-innovacion-social/tendencias/alianzas-innovadores-sociales-1194x585-1.jpg");
  margin: 10px;
}

.card_4 > h1 {
  font-size: large;
  color: white;
  text-align: center;
}

.book {
  width: 100%;
  max-width: 1235px;
  padding: 2px 100px;
}

footer {
  margin: 50px;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .book {
    width: 100%;
    max-width: 900px;
    padding: 2px 100px;
  }
}
